@import url(reset.css);
@import url(variaveis.css);
@import url(icones.css);

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    font-family: var(--fonte-familia-principal);
    font-size: var(--fonte-tamanho-texto-corrido);
    font-weight: var(--fonte-peso-regular);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.icone {
    align-items: center;
    display: flex;
}

.icone::before,
.icone::after {
    font-size: 1rem;
    font-weight: var(--fonte-peso-regular);
}

.icone--margem-esquerda::after {
    margin-left: 0.25rem;
}

.icone--margem-direita::before {
    margin-right: 0.25rem;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
