:root {
    /* Cores - Base */
    --cor-roxo-principal: #8000ff;
    --cor-roxo-destaque: #5900b3;
    --cor-azul-destaque: #0059B2;
    --cor-laranja-destaque: #B25900;
    --cor-verde-destaque: #4d9900;
    --cor-verde-destaque-escuro: #336600;
    --cor-rosa-destaque: #99004c;
    /* Cores - Base com efeito (transparência) */
    --cor-roxo-principal-efeito: #8000ff0d;
    --cor-roxo-destaque-efeito: #5900B20d;
    --cor-azul-destaque-efeito: #0059B20d;
    --cor-laranja-destaque-efeito: #B259000d;
    --cor-verde-destaque-efeito: #4C99000d;
    --cor-verde-destaque-escuro-efeito: #3366000d;
    --cor-rosa-destaque-efeito: #99004c0d;
    /* Cores - Fundo Escuro */
    --cor-roxo-fundo-escuro: #05000A;
    --cor-azul-fundo-escuro: #00050A;
    --cor-laranja-fundo-escuro: #0A0500;
    --cor-verde-fundo-escuro: #050A00;
    --cor-rosa-fundo-escuro: #0A0005;
    /* Cores - Fundo Claro */
    --cor-roxo-fundo-claro: #FAF5FF;
    --cor-roxo-fundo-claro-desabilitado: #faf5ffa6;
    --cor-azul-fundo-claro: #F5FAFF;
    --cor-laranja-fundo-claro: #FFFAF5;
    --cor-verde-fundo-claro: #FAFFF5;
    --cor-rosa-fundo-claro: #FFF5FA;
    /* Cores - Fontes*/
    --cor-texto-destaque: #FAFAFA;
    --cor-texto-secundario: #D2D1D3;
    --cor-texto-terciario: #AAA8AC;
    --cor-bordas: #343234;
    /* Fornte - Tamanho na raíz*/
    font-size: 16px;
    /* Fonte - Familias */
    --fonte-familia-marca: 'Turret Road', 'Oxanium', sans-serif;
    --fonte-familia-principal: 'Oxanium', sans-serif;
    /* Fonte - Tamanhos */
    --fonte-tamanho-h1: 3.25rem;
    --fonte-tamanho-h2: 2.5rem;
    --fonte-tamanho-h3: 2rem;
    --fonte-tamanho-h4: 1.625rem;
    --fonte-tamanho-texto-grande: 1.25rem;
    --fonte-tamanho-texto-corrido: 1rem;
    --fonte-tamanho-texto-menor: 0.875rem;
    --fonte-tamanho-texto-legenda: 0.75rem;
    /* Fonte - Peso */
    --fonte-peso-extralight: 200;
    --fonte-peso-light: 300;
    --fonte-peso-regular: 400;
    --fonte-peso-medium: 500;
    --fonte-peso-semibold: 600;
    --fonte-peso-bold: 700;
    --fonte-peso-extrabold: 800;
    /* Fonte - Line Height */
    --fonte-entrelinha: 1.5rem;
    /* Behavior scroll */
    scroll-behavior: smooth;
}
