:root {
    /* Cores - Temas*/
    --cor-destaque: #F5F5F5;
    --cor-primaria: #E0E0E0;
    --cor-tap: #E0E0E02F;
    --cor-secundaria: #B8B8B8;
    --cor-terciaria: #8F8F8F;
    --cor-desativada: #666666;
    --cor-contorno:#3D3D3D;
    --cor-superficie: #141414;
    --cor-fundo:#0A0A0A;
    --cor-sombra:#000000;
    /* Cores - Tecnologias*/
    --cor-web: #00C4F5;
    --cor-web-secundaria: #0083A3;
    --cor-web-tap: #00C4F514;
    --cor-mobile: #CCCC00;
    --cor-mobile-secundaria: #7A7A00;
    --cor-mobile-tap: #CCCC0014;
    --cor-desktop: #02CC00;
    --cor-desktop-secundaria: #017A00;
    --cor-desktop-tap: #02CC0014;
    --cor-design: #F50076;
    --cor-design-secundaria: #CC0062;
    --cor-design-tap: #F5007614;
    /* Fonte - Tamanho na raíz*/
    font-size: 16px;
    /* Fonte - Familias */
    --fonte-familia-marca: 'Turret Road', 'Oxanium', sans-serif;
    --fonte-familia-principal: 'Oxanium', sans-serif;
    --fonte-familia-alura: 'Yanone Kaffeesatz', sans-serif;
    /* Fonte - Tamanhos */
    --fonte-tamanho-h1: 3.25rem;
    --fonte-tamanho-h2: 2.5rem;
    --fonte-tamanho-h3: 2rem;
    --fonte-tamanho-h4: 1.625rem;
    --fonte-tamanho-texto-grande: 1.25rem;
    --fonte-tamanho-texto-corrido: 1rem;
    --fonte-tamanho-texto-menor: 0.875rem;
    --fonte-tamanho-texto-legenda: 0.75rem;
    /* Fonte - Pesos */
    --fonte-peso-extralight: 200;
    --fonte-peso-light: 300;
    --fonte-peso-regular: 400;
    --fonte-peso-medium: 500;
    --fonte-peso-semibold: 600;
    --fonte-peso-bold: 700;
    --fonte-peso-extrabold: 800;
    /* Fonte - Entrelinha */
    --fonte-entrelinha: 1.5rem;
    /* Tipo de movimento do scroll */
    scroll-behavior: smooth;
}
