.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem .75rem;
  row-gap: .75rem;
  border-bottom: 1px solid var(--outline);
  
  .title {
    font: var(--title-medium);
    letter-spacing: var(--letter-spacing-m);
  }

  .list_view {
    column-gap: .75rem;
    row-gap: .75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}