.botao {
    border: 1px solid var(--cor-secundaria);
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: var(--cor-tap);
}

.botao--web {
    -webkit-tap-highlight-color: var(--cor-web-tap);
}
.botao--mobile {
    -webkit-tap-highlight-color: var(--cor-mobile-tap);
}
.botao--desktop {
    -webkit-tap-highlight-color: var(--cor-desktop-tap);
}
.botao--design {
    -webkit-tap-highlight-color: var(--cor-design-tap);
}

@media screen and (min-width: 768px) {
    .botao:hover {
        border-color: var(--cor-destaque);
        color: var(--cor-destaque);
        cursor: pointer;
    }

    .botao--web:hover {
        border-color: var(--cor-web);
        color: var(--cor-web);
    }

    .botao--mobile:hover {
        border-color: var(--cor-mobile);
        color: var(--cor-mobile);
    }

    .botao--desktop:hover {
        border-color: var(--cor-desktop);
        color: var(--cor-desktop);
    }

    .botao--design:hover {
        border-color: var(--cor-design);
        color: var(--cor-design);
    }
}
