.botao {
    border: 1px solid var(--cor-secundaria);
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: var(--cor-tap);
}

.botao:hover,.botao:active {
    border-color: var(--cor-destaque);
    color: var(--cor-destaque);
    cursor: pointer;
}

.botao--web {
    border: 1px solid var(--cor-web-secundaria);
    -webkit-tap-highlight-color: var(--cor-web-tap);
}

.botao--web:hover,.botao--web:active {
    border-color: var(--cor-web);
    background-color: var(--cor-web-tap);
}

.botao--mobile {
    border: 1px solid var(--cor-mobile-secundaria);
    -webkit-tap-highlight-color: var(--cor-mobile-tap);
}

.botao--mobile:hover,.botao--mobile:active {
    border-color: var(--cor-mobile);
    background-color: var(--cor-mobile-tap);
}

.botao--desktop {
    border: 1px solid var(--cor-desktop-secundaria);
    -webkit-tap-highlight-color: var(--cor-desktop-tap);
}

.botao--desktop:hover,.botao--desktop:active {
    border-color: var(--cor-desktop);
    background-color: var(--cor-desktop-tap);
}

.botao--design {
    border: 1px solid var(--cor-design-secundaria);
    -webkit-tap-highlight-color: var(--cor-design-tap);
}

.botao--design:hover,.botao--design:active {
    border-color: var(--cor-design);
    background-color: var(--cor-design-tap);
}
