.cartao {
    background-color: var(--cor-fundo);
    border: 1px solid var(--cor-contorno);
    box-sizing: border-box;
    border-radius: 0.25rem;
    box-shadow: 0px 8px 16px 0px var(--cor-sombra);
    color: var(--cor-secundaria);
    margin: 1rem 0;
    max-width: calc(328px * 2);
    overflow: hidden;
    position: relative;
    transition: 500ms linear;
    width: 100%;
}

.cartao:last-child{
    margin-bottom: calc(32vh);
}

.cartao--invisivel-esquerda {
    left: -50%;
    opacity: 0;
}

.cartao--visivel-esquerda {
    left: 0;
    opacity: 1;
}

.cartao--invisivel-direita {
    opacity: 0;
    right: -50%;
}

.cartao--visivel-direita {
    opacity: 1;
    right: 0;
}

.cartao__tecnologias {
    color: var(--cor-destaque);
    border-bottom: 1px solid var(--cor-contorno);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    font-size: var(--fonte-tamanho-texto-legenda);
    font-weight: var(--fonte-peso-semibold);
    justify-content: space-around;
    padding: 0.375rem 1rem;
    text-transform: uppercase;
}

.cartao__tecnologias--web {
    color: var(--cor-web);
}

.cartao__tecnologias--mobile {
    color: var(--cor-mobile);
}

.cartao__tecnologias--desktop {
    color: var(--cor-desktop);
}

.cartao__tecnologias--design {
    color: var(--cor-design);
}

.cartao__informacoes {
    padding: 0.5rem 1rem;
    text-align: justify;
}

.cartao__informacoes-titulo {
    color: var(--cor-primaria);
    font-weight: var(--fonte-peso-semibold);
    margin-bottom: 0.5rem;
}

.cartao__informacoes-descricao {
    margin-bottom: 0.5rem;
}

.cartao__informacoes-lista-links {
    color: var(--cor-secundaria);
    display: flex;
    flex-flow: row wrap;
    font-size: var(--fonte-tamanho-texto-legenda);
    font-weight: var(--fonte-peso-semibold);
}

.cartao__informacoes-link {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
}
