@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  /* Tipografia */
  font-size: 16px;
  --typography: "Nunito Sans", sans-serif;

  --title-large: normal 400 24px/32px var(--typography);
  --title-medium: normal 700 18px/28px var(--typography);
  --body-large: normal 400 18px/28px var(--typography);
  --label-large: normal 700 14px/20px var(--typography);
  --label-small: normal 700 12px/20px var(--typography);

  --letter-spacing-xxl: 0.5px;
  --letter-spacing-xl: 0.4px;
  --letter-spacing-l: 0.25px;
  --letter-spacing-m: 0.15px;
  --letter-spacing-s: 0.1px;
  --letter-spacing-xs: -0.25px;

  /* Sombras (Efeitos de Elevação) */
  --level-0: rgba(0, 0, 0, 0.2) 0px 0px 0px 0px, rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  --level-1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --level-2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  --level-3: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  --level-4: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  --level-5: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 12px 17px 2px, rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;


  /* Scroll */
  scroll-behavior: smooth;

  /* Estiliza a barra de rolagem em geral */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Estiliza a parte da barra de rolagem que pode ser arrastada */
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 1rem;
  }

  /* Estiliza a área ao redor da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #00000000;
  }

  /* Paleta de cores*/
  --violet: #8268CA;
  --white: #EEECF3;
  --light-grayish-violet: #E3DFEC;
  --grayish-violet:#605A72;
  --very-dark-violet: #171320;
  --black: #121019;

  /* Transparência */
  --tr-violet: #8268CA1d;
  --tr-white: #EEECF31d;
  --tr-grayish-violet:#605A721d;
  --tr-black: #1210191d;

  /* Outros */
  --primary: var(--violet);
  --primary-hover: var(--tr-violet);
  --outline: var(--tr-grayish-violet);
}

body {
  background-color: var(--black);
  color: var(--black);
  font: var(--body-large);
  letter-spacing: var(--letter-spacing-xxl);
  overflow-x: hidden;
  transition: background-color 0.5s, color 0.5s;
}

.light-theme {
  /*Tema claro*/
  --on-surface: var(--black);
  --on-surface-variant: var(--very-dark-violet);
  --surface: var(--light-grayish-violet);
  --surface-variant: var(--white);
  --hover: var(--tr-white);
  --hover-variant: var(--tr-black);

  background-color: var(--surface);
  color: var(--on-surface);
}

.dark-theme {
  /* Tema escuro*/
  --on-surface: var(--white);
  --on-surface-variant: var(--light-grayish-violet);
  --surface: var(--black);
  --surface-variant: var(--very-dark-violet);
  --hover: var(--tr-black);
  --hover-variant: var(--tr-white);

  background-color: var(--surface);
  color: var(--on-surface);
}

// Dispositivos grandes (desktops, 992px e acima)
@media (min-width: 992px) {
  :root {
    --title-large: normal 400 24px/32px var(--typography);
    --title-medium: normal 700 18px/28px var(--typography);
    --body-large: normal 400 18px/28px var(--typography);
    --label-large: normal 700 16px/24px var(--typography);
    --label-small: normal 700 12px/20px var(--typography);
    font-size: 20px;
  }
}