.container {
  background-color: var(--surface-variant);
  border: 1px solid var(--outline);
  border-radius: .75rem;
  box-shadow: var(--level-3);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 336px;
  overflow: hidden;
  padding-bottom: .75rem;
  row-gap: .375rem;
  transition: background-color 0.5s, box-shadow 0.3s;
  z-index: 2;
  width: 100%;

  &:hover {
    border: 1px solid var(--primary);
    box-shadow: var(--level-1);
  }

  &:active {
    border: 1px solid var(--on-surface);
  }

  .midia {
    max-height: 189px;
    max-width: 336px;
    height: auto;
    width: 100%;
  }

  .details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: .75rem .75rem .75rem .75rem;
    width: 100%;

    .title {
      font: var(--title-large);
    }

    .description {
      font: var(--body-large);
      letter-spacing: var(--letter-spacing-xxl);
    }

    .tags {
      color: var(--primary);
      font: var(--label-large);
      letter-spacing: var(--letter-spacing-xxl);
    }
  }

  .button {
    align-self: flex-end;
    background-color: var(--primary);
    border-radius: .75rem;
    color: var(--white);
    cursor: pointer;
    font: var(--label-large);
    justify-self: flex-end;
    letter-spacing: var(--letter-spacing-xxl);
    margin-right: .75rem;
    padding: .625rem 1.5rem;
    user-select: none;
    width: fit-content;

    &:hover {
      filter: opacity(90%);
    }
  }
}