.container {
  align-items: center;
  background-color: var(--surface-variant);
  border: 1px solid var(--outline);
  border-radius: .75rem;
  box-shadow: var(--level-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font: var(--label-small);
  justify-content: center;
  letter-spacing: var(--letter-spacing-xxl);
  min-height: 4.5rem;
  min-width: 4.5rem;
  transition: background-color 0.5s, box-shadow 0.3s;
  user-select: none;
  z-index: 2;

  .icon {
    fill: var(--primary);
    height: 2rem;
    width: 2rem;
  }

  &:hover {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary);
    box-shadow: var(--level-1);
  }

  &:active {
    background-color: var(--hover-variant);
    border: 1px solid var(--on-surface);
  }
}